/* line 5, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/documents.css.scss */
body {
  padding: 100px 0 100px 0;
}

/* line 10, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/documents.css.scss */
#document-text textarea, #document-chapters textarea {
  height: 200px;
  width: 800px;
}

/* line 16, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/documents.css.scss */
.help-block {
  font-variant: italic;
  margin-top: 10px;
}

/* line 25, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/documents.css.scss */
.nav > li {
  color: whitesmoke;
}

/* line 29, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/documents.css.scss */
.doc-set-footer {
  height: 80px;
}
/* line 33, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/documents.css.scss */
.doc-set-footer .create-new-button {
  margin-top: 10px;
}
/* line 37, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/documents.css.scss */
.doc-set-footer .pagination-controls {
  float: right;
  margin-right: 10px;
  margin-top: -10px;
}

/* line 45, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/documents.css.scss */
#tool-sidebar {
  padding-top: 30px;
}
/* line 47, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/documents.css.scss */
#tool-sidebar a {
  margin-bottom: 10px;
}

/* line 52, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/documents.css.scss */
#documents td .glyphicon {
  font-size: 18px;
  display: block;
  text-align: center;
}
