/* line 1, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/users.css.scss */
.user-highlight {
  font-style: italic;
}

/* line 5, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/users.css.scss */
.nav-tabs {
  border-bottom: 0;
}

/* line 9, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/users.css.scss */
.nav-tabs > li.active {
  border-bottom: 1px solid #fff;
  z-index: 100;
}

/* line 14, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/users.css.scss */
.panel-default {
  margin-top: 30px;
}

/* line 18, /Users/Work/Documents/Work/Repos/Annotation-Studio/app/assets/stylesheets/users.css.scss */
.note-toolbar-wrapper.panel-default {
  margin-top: 0;
}
