<%= content_for :body_id, 'documents' %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" id="document-form">
      <div class="panel-heading">
        <span class="panel-title">Edit Anthology</span>
      </div>
      <%= render partial: 'form' %>
    </div>
  </div><!--/panel-body -->
</div><!--/panel -->
