<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Edit</th>
  </tr>
  <% if @anthologies.count >= 1 %>
    <% @anthologies.each do |anthology| %>
      <tr>
        <td>
          <%= link_to anthology.name, anthology_path(anthology.friendly_id) %></td>
        <td>
          <%= anthology.description %></td>
        <td>
          <%= link_to 'Edit', edit_anthology_path(anthology.friendly_id) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="6">No anthologies to view.</td>
    </tr>
  <% end %>
</table>
<div class="panel-footer doc-set-footer">
  <% if can? :create, Anthology %>
    <%= link_to anthology_path('new'), class: 'btn btn-primary create-new-button' do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Anthology
    <% end %>
  <% end %>
</div>
