<h3>Hello, <%= @admin_user.email %></h3>
<p>A <b><u>dry run</u></b> of the vetted document import task has been completed. Vetted documents have <b><u>not</u></b> been copied. Had this been a true import run, the following would have taken place:</p>
<pre>
  <code>
    <%= @log_string %>
  </code>
</pre>
