	<ul class="list-group" id="omniauth-links">

    <% tenant = Tenant.current_tenant %>

    <% if allow_wordpress_oauth_authentication?(tenant) %>
      <li class="list-group-item">
        <%= build_omniauth_link(:wordpress_hosted) %>
      </li>
    <% end %>

    <% if allow_saml_authentication?(tenant) %>
      <li class="list-group-item">
        <%= build_omniauth_link(:saml) %>
      </li>
    <% end %>

    <% if allow_devise_authentication?(tenant) %>
      <li class="list-group-item">
        <%= link_to I18n.t('devise.buttons.login_email'), user_session_path(anchor: 'email-login'), class: 'btn btn-default' %>
      </li>
    <% end %>

    <% if local_assigns[:footer].present? %>
      <%= render footer %>
    <% end %>

	</ul>
