// Place all the styles related to the anthologies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.anthology-description { 
  margin-bottom: 15px;
}

.an-searched-users-table-header { 
  margin-bottom: 20px;
  font-size: 16px;
  color: inherit;
}

.anthologies-list-title-action {
  min-width: 25vh;
}

.search-tabs-wrapper {
  margin-top: 20px;
}

#documents td .glyphicon {
  font-size: 18px;
  display: block;
  text-align: center;
}
