// Place all the styles related to the anthologies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.anthology-description { 
  margin-bottom: 15px;
}

.an-searched-users-table-header { 
  margin-bottom: 20px;
  font-size: 16px;
  color: inherit;
}

.anthologies-list-title-action {
  min-width: 25vh;
}

.search-tabs-wrapper {
  margin-top: 20px;
}

#documents td .glyphicon {
  font-size: 18px;
  display: block;
  text-align: center;
}

#csv-dropdown {
  display: inline-block;
  margin-top: 8px;
}

#csv-dropdown .dropdown-menu {
  padding: 5px;
}

#csv-dropdown .dropdown-menu .btn {
  margin: 2px;
}

#csv-dropdown .right-button {
  display: flex;
  justify-content: right;
}

@media (max-width: 768px) {
  #csv-dropdown {
    width: 100%;
    text-align: center;
  }

  #csv-dropdown div {
    width: 100%;
  }

  #csv-dropdown input {
    width: 100%;
  }
}
